.button {
  width: 240px;
  height: 48px;
  background: #bdbdbd;
  border-radius: 4px;
  button {
    width: 100%;
    cursor: pointer;
    height: 100%;
    background: none;
    border: none;
  }
  span {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
  }
}
